In [21]:
import numpy as np
import pandas as pd
from pandas import read_csv
import pickle
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder
from timeseires.utils import t_v_t_split as sp

In [22]:
df=pd.read_csv(r'F:\ML Lab Spring 25\1_Orignal_AEP_hourly.csv', index_col=['Datetime'], parse_dates=['Datetime'])
df.head()

,aep,year_day,holiday,weekend,winter,spring,summer,fall,hour,month,day_of_week
Datetime,,,,,,,,,,,
2004-12-31 01:00:00,13478.0,366,NaN,0,1,0,0,0,1,12,4
2004-12-31 02:00:00,12865.0,366,NaN,0,1,0,0,0,2,12,4
2004-12-31 03:00:00,12577.0,366,NaN,0,1,0,0,0,3,12,4
2004-12-31 04:00:00,12517.0,366,NaN,0,1,0,0,0,4,12,4
2004-12-31 05:00:00,12670.0,366,NaN,0,1,0,0,0,5,12,4

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121273 entries, 2004-12-31 01:00:00 to 2018-01-02 00:00:00
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   aep          121273 non-null  float64
 1   year_day     121273 non-null  int64
 2   holiday      0 non-null       float64
 3   weekend      121273 non-null  int64
 4   winter       121273 non-null  int64
 5   spring       121273 non-null  int64
 6   summer       121273 non-null  int64
 7   fall         121273 non-null  int64
 8   hour         121273 non-null  int64
 9   month        121273 non-null  int64
 10  day_of_week  121273 non-null  int64
dtypes: float64(2), int64(9)
memory usage: 11.1 MB

# Function to split data For Training, Validation & Test

# tarin, test &  validation split

In [24]:
train_set , validation_set , test_set = sp.t_v_t(df,70,20,10)

In [25]:
print(train_set.shape)
print(validation_set.shape)
print(test_set.shape)

(84891, 11)
(24255, 11)
(12127, 11)

In [26]:
(84907+24259+12130)-121296

0

In [27]:
test_set

,aep,year_day,holiday,weekend,winter,spring,summer,fall,hour,month,day_of_week
Datetime,,,,,,,,,,,
2017-10-19 16:00:00,14053.0,292,NaN,0,0,0,0,1,16,10,3
2017-10-19 17:00:00,13973.0,292,NaN,0,0,0,0,1,17,10,3
2017-10-19 18:00:00,13863.0,292,NaN,0,0,0,0,1,18,10,3
2017-10-19 19:00:00,13844.0,292,NaN,0,0,0,0,1,19,10,3
2017-10-19 20:00:00,14390.0,292,NaN,0,0,0,0,1,20,10,3
...,...,...,...,...,...,...,...,...,...,...,...
2018-01-01 20:00:00,21089.0,1,NaN,0,1,0,0,0,20,1,0
2018-01-01 21:00:00,20999.0,1,NaN,0,1,0,0,0,21,1,0
2018-01-01 22:00:00,20820.0,1,NaN,0,1,0,0,0,22,1,0
2018-01-01 23:00:00,20415.0,1,NaN,0,1,0,0,0,23,1,0
2018-01-02 00:00:00,19993.0,2,NaN,0,1,0,0,0,0,1,1

# Train

##### MinMax

In [28]:
train_set_load             = train_set['aep'].values.reshape(-1, 1)              
validation_set_load        = validation_set['aep'].values.reshape(-1, 1)
test_set_load              = test_set['aep'].values.reshape(-1, 1)
#.........................................................................
scaler = MinMaxScaler(feature_range=(0, 1))
scaler.fit(train_set_load)
#scaler = StandardScaler()
#scaler.fit(train_set_load)
#.........................................................................
scaled_train_set_load      = scaler.transform(train_set_load)
scaled_validation_set_load = scaler.transform(validation_set_load)
scaled_test_set_load       = scaler.transform(test_set_load)
pickle.dump(scaler, open ("AEPscaler.pkl",'wb') )
scaled_train_set_load.shape

(84891, 1)

In [29]:
train_numerical = scaled_train_set_load
train_numerical.shape

(84891, 1)

In [30]:
train_set.describe()

,aep,year_day,holiday,weekend,winter,spring,summer,fall,hour,month,day_of_week
count,84891.000000,84891.000000,0.0,84891.000000,84891.000000,84891.000000,84891.000000,84891.000000,84891.000000,84891.000000,84891.00000
mean,15746.940341,191.298465,NaN,0.285872,0.247093,0.233982,0.244525,0.274399,11.502268,6.790508,2.99927
std,2537.397092,106.488215,NaN,0.451832,0.431324,0.423364,0.429808,0.446214,6.921566,3.482326,2.00073
min,9669.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000
25%,13921.000000,99.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,1.00000
50%,15578.000000,197.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,12.000000,7.000000,3.00000
75%,17409.000000,285.000000,NaN,1.000000,0.000000,0.000000,0.000000,1.000000,18.000000,10.000000,5.00000
max,22554.000000,366.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,23.000000,12.000000,6.00000

In [31]:
(12379.-9669.)/(22556.0-9669)

0.21028943896950414

In [32]:
train_numerical

array([[0.29561506],
       [0.24804036],
       [0.22568879],
       ...,
       [0.49088087],
       [0.47923943],
       [0.42002328]])

##### OneHot Encoding

In [33]:
df.columns

Index(['aep', 'year_day', 'holiday', 'weekend', 'winter', 'spring', 'summer',
       'fall', 'hour', 'month', 'day_of_week'],
      dtype='object')

In [34]:
_=df.columns
_[2],_[3]

('holiday', 'weekend')

In [35]:
train_set

,aep,year_day,holiday,weekend,winter,spring,summer,fall,hour,month,day_of_week
Datetime,,,,,,,,,,,
2004-12-31 01:00:00,13478.0,366,NaN,0,1,0,0,0,1,12,4
2004-12-31 02:00:00,12865.0,366,NaN,0,1,0,0,0,2,12,4
2004-12-31 03:00:00,12577.0,366,NaN,0,1,0,0,0,3,12,4
2004-12-31 04:00:00,12517.0,366,NaN,0,1,0,0,0,4,12,4
2004-12-31 05:00:00,12670.0,366,NaN,0,1,0,0,0,5,12,4
...,...,...,...,...,...,...,...,...,...,...,...
2014-07-26 19:00:00,16710.0,207,NaN,1,0,0,1,0,19,7,5
2014-07-26 20:00:00,16259.0,207,NaN,1,0,0,1,0,20,7,5
2014-07-26 21:00:00,15994.0,207,NaN,1,0,0,1,0,21,7,5
2014-07-26 22:00:00,15844.0,207,NaN,1,0,0,1,0,22,7,5
2014-07-26 23:00:00,15081.0,207,NaN,1,0,0,1,0,23,7,5

In [36]:
train_setO     = train_set[:].values

holiday        = train_setO[:,2:3]
weekend        = train_setO[:,3:4]


en_holiday     = OneHotEncoder(handle_unknown='ignore')
en_weekend    = OneHotEncoder(handle_unknown='ignore')


holidayf       = en_holiday.fit(holiday)             #2
holidayt       = holidayf.transform(holiday).toarray() 

weekendf       = en_weekend.fit(weekend)             #2
weekendt       = weekendf.transform(weekend).toarray()




train_categorical = np.concatenate((holidayt,weekendt), axis=1)
train_categorical.shape

(84891, 3)

##### Cyclic

In [37]:
df.columns

Index(['aep', 'year_day', 'holiday', 'weekend', 'winter', 'spring', 'summer',
       'fall', 'hour', 'month', 'day_of_week'],
      dtype='object')

In [38]:
cyclic_train = train_set[['month','day_of_week','hour','winter', 'spring', 'summer','fall','year_day']]
cyclic_train = cyclic_train[:].values


sin_montht   = np.sin(2*np.pi*cyclic_train[:,0:1]/12)
cos_montht   = np.cos(2*np.pi*cyclic_train[:,0:1]/12)

sin_weekt    = np.sin(2*np.pi*cyclic_train[:,1:2]/6)
cos_weekt    = np.cos(2*np.pi*cyclic_train[:,1:2]/6)
  
sin_hourt    = np.sin(2*np.pi*cyclic_train[:,2:3]/24)
cos_hourt    = np.cos(2*np.pi*cyclic_train[:,2:3]/24)

sin_wintert    = np.sin(2*np.pi*cyclic_train[:,3:4]/4)
cos_wintert    = np.cos(2*np.pi*cyclic_train[:,3:4]/4)

sin_springt    = np.sin(2*np.pi*cyclic_train[:,4:5]/4)
cos_springt    = np.cos(2*np.pi*cyclic_train[:,4:5]/4)

sin_summert    = np.sin(2*np.pi*cyclic_train[:,5:6]/4)
cos_summert    = np.cos(2*np.pi*cyclic_train[:,5:6]/4)

sin_fallt    = np.sin(2*np.pi*cyclic_train[:,6:7]/4)
cos_fallt    = np.cos(2*np.pi*cyclic_train[:,6:7]/4)

sin_year_dayt    = np.sin(2*np.pi*cyclic_train[:,7:8]/365)
cos_year_dayt    = np.cos(2*np.pi*cyclic_train[:,7:8]/365)

train_cyclic = np.concatenate((sin_montht, cos_montht, 
                               sin_weekt, cos_weekt, 
                               sin_hourt,cos_hourt,
                               sin_wintert,cos_wintert,
                               sin_springt,cos_springt,
                               sin_summert ,cos_summert,
                               sin_fallt,cos_fallt,
                              sin_year_dayt ,cos_year_dayt ), axis=1)

In [39]:
train = np.concatenate((train_numerical,train_categorical, train_cyclic), axis=1)
train.shape

(84891, 20)

In [ ]:
'aep',

In [ ]:
train_df = pd.DataFrame(data = train.transpose(), index = ['aep',
                                                           'Is_holiday1','Is_holiday2',
                                                           'Is_Weekend1','Is_Weekend2',
                                                           'sin_month', 'cos_month',
                                                           'sin_week','cos_week',
                                                           'sin_hour', 'cos_hour',
                                                         'sin_wintert','cos_wintert',
                                                          'sin_springt','cos_springt',
                                                          'sin_summert' ,'cos_summert',
                                                          'sin_fallt','cos_fallt',
                                                          'sin_year_dayt','cos_year_dayt']).transpose()

In [ ]:
train_df.to_csv('7_AEP_train.csv', index=False)

# validation

##### MinMax

In [ ]:
validation_numerical = scaled_validation_set_load
validation_numerical.shape

(24259, 1)

#### OneHot

In [ ]:

validation_setO = validation_set[:].values

holiday        = validation_setO[:,2:3]
weekend        = validation_setO[:,3:4]



holidayt       = holidayf.transform(holiday).toarray() 

weekendt       = weekendf.transform(weekend).toarray()
            
                                                        
            
validation_categorical = np.concatenate((holidayt,weekendt), axis=1)
validation_categorical.shape

(24259, 4)

#### cyclic

In [ ]:
cyclic_validation = validation_set[['month','day_of_week','hour','winter', 'spring', 'summer','fall','year_day']]
cyclic_validation = cyclic_validation[:].values

sin_montht   = np.sin(2*np.pi*cyclic_validation[:,0:1]/12)
cos_montht   = np.cos(2*np.pi*cyclic_validation[:,0:1]/12)

sin_weekt    = np.sin(2*np.pi*cyclic_validation[:,1:2]/6)
cos_weekt    = np.cos(2*np.pi*cyclic_validation[:,1:2]/6)
  
sin_hourt    = np.sin(2*np.pi*cyclic_validation[:,2:3]/24)
cos_hourt    = np.cos(2*np.pi*cyclic_validation[:,2:3]/24)

sin_wintert    = np.sin(2*np.pi*cyclic_validation[:,3:4]/4)
cos_wintert    = np.cos(2*np.pi*cyclic_validation[:,3:4]/4)

sin_springt    = np.sin(2*np.pi*cyclic_validation[:,4:5]/4)
cos_springt    = np.cos(2*np.pi*cyclic_validation[:,4:5]/4)

sin_summert    = np.sin(2*np.pi*cyclic_validation[:,5:6]/4)
cos_summert    = np.cos(2*np.pi*cyclic_validation[:,5:6]/4)

sin_fallt    = np.sin(2*np.pi*cyclic_validation[:,6:7]/4)
cos_fallt    = np.cos(2*np.pi*cyclic_validation[:,6:7]/4)

sin_year_dayt    = np.sin(2*np.pi*cyclic_validation[:,7:8]/365)
cos_year_dayt    = np.cos(2*np.pi*cyclic_validation[:,7:8]/365)

validation_cyclic = np.concatenate((sin_montht, cos_montht, 
                               sin_weekt, cos_weekt, 
                               sin_hourt,cos_hourt,
                               sin_wintert,cos_wintert,
                               sin_springt,cos_springt,
                               sin_summert ,cos_summert,
                               sin_fallt,cos_fallt,sin_year_dayt,cos_year_dayt), axis=1) 

validation_cyclic.shape

(24259, 16)

In [ ]:
validation = np.concatenate((validation_numerical,validation_categorical, validation_cyclic), axis=1)
validation.shape

(24259, 21)

In [ ]:
validation_df = pd.DataFrame(data = validation.transpose(), index = ['aep',
                                                           'Is_holiday1','Is_holiday2',
                                                           'Is_Weekend1','Is_Weekend2',
                                                           'sin_month', 'cos_month',
                                                           'sin_week','cos_week',
                                                           'sin_hour', 'cos_hour',
                                                         'sin_wintert','cos_wintert',
                                                          'sin_springt','cos_springt',
                                                          'sin_summert' ,'cos_summert',
                                                          'sin_fallt','cos_fallt',
                                                                     'sin_year_dayt','cos_year_dayt']).transpose()

In [ ]:
validation_df.to_csv('8_AEP_validation.csv', index=False)

In [ ]:
validation_df.shape

(24259, 21)

# Test

##### MinMax

In [ ]:
test_numerical = scaled_test_set_load
test_numerical.shape

(12130, 1)

##### OneHot

In [ ]:

test_setO = test_set[:].values

holiday        = test_setO[:,2:3]
weekend        = test_setO[:,3:4]



holidayt       = holidayf.transform(holiday).toarray() 

weekendt       = weekendf.transform(weekend).toarray()
            
                                                        
            
test_categorical = np.concatenate((holidayt,weekendt), axis=1)
test_categorical.shape

(12130, 4)

##### cyclic

In [ ]:
cyclic_test = test_set[['month','day_of_week','hour','winter', 'spring', 'summer','fall', 'year_day']]
cyclic_test = cyclic_test[:].values

sin_montht   = np.sin(2*np.pi*cyclic_test[:,0:1]/12)
cos_montht   = np.cos(2*np.pi*cyclic_test[:,0:1]/12)

sin_weekt    = np.sin(2*np.pi*cyclic_test[:,1:2]/6)
cos_weekt    = np.cos(2*np.pi*cyclic_test[:,1:2]/6)
  
sin_hourt    = np.sin(2*np.pi*cyclic_test[:,2:3]/24)
cos_hourt    = np.cos(2*np.pi*cyclic_test[:,2:3]/24)

sin_wintert    = np.sin(2*np.pi*cyclic_test[:,3:4]/4)
cos_wintert    = np.cos(2*np.pi*cyclic_test[:,3:4]/4)

sin_springt    = np.sin(2*np.pi*cyclic_test[:,4:5]/4)
cos_springt    = np.cos(2*np.pi*cyclic_test[:,4:5]/4)

sin_summert    = np.sin(2*np.pi*cyclic_test[:,5:6]/4)
cos_summert    = np.cos(2*np.pi*cyclic_test[:,5:6]/4)

sin_fallt    = np.sin(2*np.pi*cyclic_test[:,6:7]/4)
cos_fallt    = np.cos(2*np.pi*cyclic_test[:,6:7]/4)

sin_year_dayt    = np.sin(2*np.pi*cyclic_test[:,7:8]/365)
cos_year_dayt    = np.cos(2*np.pi*cyclic_test[:,7:8]/365)

test_cyclic = np.concatenate((sin_montht, cos_montht, 
                               sin_weekt, cos_weekt, 
                               sin_hourt,cos_hourt,
                               sin_wintert,cos_wintert,
                               sin_springt,cos_springt,
                               sin_summert ,cos_summert,
                               sin_fallt,cos_fallt,sin_year_dayt,cos_year_dayt ), axis=1) 

test_cyclic.shape

(12130, 16)

In [ ]:
test = np.concatenate((test_numerical,test_categorical, test_cyclic), axis=1)
test.shape

(12130, 21)

In [ ]:
test_df = pd.DataFrame(data = test.transpose(), index = ['aep',
                                                           'Is_holiday1','Is_holiday2',
                                                           'Is_Weekend1','Is_Weekend2',
                                                           'sin_month', 'cos_month',
                                                           'sin_week','cos_week',
                                                           'sin_hour', 'cos_hour',
                                                         'sin_wintert','cos_wintert',
                                                          'sin_springt','cos_springt',
                                                          'sin_summert' ,'cos_summert',
                                                          'sin_fallt','cos_fallt',
                                                         'sin_year_dayt','cos_year_dayt']).transpose()

In [ ]:
test_df.to_csv('9_AEP_test.csv', index=False)

In [ ]:
test_df.shape

(12130, 21)

In [ ]:
4*((24*24)+24^2+24)

2312

In [ ]:
(84907)/(10*(24+24))

176.88958333333332

In [ ]:
84907